.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  // clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);

  @include respond(tab-port) {
    padding: 15rem 0;
  }

  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 8rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      justify-content: center;
      margin: 0 8rem;
    }
    @include respond(phone) {
      margin: 0 3rem;
    }
  }
}

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  @include respond(tab-port) {
    padding: 10rem 0;
    margin-top: -5rem;
  }

  .grid-col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6rem;
    margin: 0 8rem;

    @include respond(tab-port) {
      grid-template-columns: 60%;

      justify-content: center;
    }
    @include respond(phone) {
      grid-template-columns: 80%;
      justify-content: center;
      margin: 0 3rem;
    }
  }

  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  // clip-path: polygon(0 15%, 115% 0, 100% 100%, 0 100%);

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }

  .grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
    margin: 0 8rem;

    @include respond(tab-port) {
      grid-template-columns: 50%;
      justify-content: center;
    }
    @include respond(phone) {
      grid-template-columns: 80%;
      margin: 0 3rem;
    }
  }
}

.section-stories {
  padding: 10rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  .story__container {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 0;

    @include respond(tab-port) {
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 0;
    }
  }
}

.section-book {
  padding: 10rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  .book__container {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 0;

    @include respond(phone) {
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 0;
    }
  }
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  @include respond(tab-port) {
    background-image: linear-gradient(
      to right,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 100%
    );
  }
  .form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      padding: 3rem 2rem;
    }
  }
}

.section {
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
